<div id="footer" class="footer-main" style=" position:absolute;
   bottom:0; width:100%">
    <div class="footer-box pad-top-70">
      <div class="container">
        <div class="row">
          <div class="footer-in-main">
            <div class="footer-logo">
              <div class="text-center">
                <img src="./view/images/logo.png" alt="" />
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="footer-box-a">
                <h3>Apropos de nous</h3>
                <p>Suivez notre quatidien</p>
                <ul class="socials-box footer-socials pull-left">
                  <li>
                    <a href="#">
                      <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="social-circle-border"><i class="fa fa-pinterest"></i></div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                    </a>
                  </li>
                </ul>

              </div>
              <!-- end footer-box-a -->
            </div>
            <!-- end col -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="footer-box-b">
                <h3>New Menu</h3>
                <ul>
                  <li><a href="#">OKOK</a></li>
                  <li><a href="#">Kondrè</a></li>
                  <li><a href="#">Deux oeuf spaguettis</a></li>
                  <li><a href="#">Kouakoukou</a></li>
                </ul>
              </div>
              <!-- end footer-box-b -->
            </div>
            <!-- end col -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="footer-box-c">
                <h3>Contact</h3>
                <p>
                  <i class="fa fa-map-signs" aria-hidden="true"></i>
                  <span>6 Esplanade, St Benoit, Dubaï</span>
                </p>
                <p>
                  <i class="fa fa-mobile" aria-hidden="true"></i>
                  <span>
                    +91 80005 89080
                  </span>
                </p>
                <p>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span><a href="#">support@mboafoodies.com</a></span>
                </p>
              </div>
              <!-- end footer-box-c -->
            </div>
            <!-- end col -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="footer-box-d">
                <h3>Heures d'ouvertures</h3>

                <ul>
                  <li>
                    <p>Lundi - Jeudi </p>
                    <span> 11H00 - 21H00</span>
                  </li>
                  <li>
                    <p>Vendredi - Samedi </p>
                    <span> 11H00 - 23H00</span>
                  </li>
                </ul>
              </div>
              <!-- end footer-box-d -->
            </div>
            <!-- end col -->
          </div>
          <!-- end footer-in-main -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
      <div id="copyright" class="copyright-main">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h6 class="copy-title"> Copyright &copy; 2023 MboaFoodies is powered by <a href="#" target="_blank"></a> </h6>
            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </div>
      <!-- end copyright-main -->
    </div>
    <!-- end footer-box -->
  </div>
  <!-- end footer-main -->